{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock title %}
{% block content %}
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about icon-box">
      <div class="container">

        <div class="row">
          <div class="section-title">
            <h2>About</h2>
            <p>I am a self-taught software engineer formally trained as a Civil engineer and teacher. I'm currently enrolled at Eastern U: Master in Data Science.</p>

            <p>I love programming, creating, and my side gig is teaching police officers to pass their mathematics and language testing and interviews. I know HTML5, CSS3, Python3, JavaScript, React, SQL, and some PHP. I'm working on portfolio projects for experience and to showcase my skills.</p>

            <p>I've been coding on the web since 2014. This has included making membership e-commerce websites for clients, creating and maintaining my own teaching website at https://cognitiveresults.com, as well as working for another developer doing retainer work for clients.</p>

            <p>I code consistently and I'm serious about learning the skills required to land a full-time job doing development. Please see my <a href="https://github.com/GillianTrethewey">GitHub portfolio</a> </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <img src="{% static 'img/about.jpg' %}" class="img-fluid about-img" alt="">
          </div>
          <div class="col-lg-9 pt-4 pt-lg-0 content">
            <h3>Software Developer &amp; Data Scientist</h3>
            <p class="fst-italic">
              Degree in Civil Engineering and a degree in Education. Current program: Master in Data Science. Web developer since 2014. Software Developer since 2021.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 10 February</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> cognitiveresults.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> London, ON, Canada</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Current Program: Master in Data Science</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> cognitiveresults@rogers.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
  
          </div>
        </div>

      </div>
    </section>
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="../static/assets/img/testimonials/megan-garwood.jpg" class="testimonial-img" alt="">
                <h3>Megan Garwood</h3>
                <h4>Megan Garwood Web Development</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Gillian has been an integral part of my web development business since April 2019. She has shown outstanding commitment to our projects along with a strong sense of morality. She is hard working, dedicated, and often goes above and beyond what is required.<br>
                  Gillian is loyal and conscientious towards others and is always the first to answer the call when problems need solving or projects need finishing. She is highly self-motivated, taking the initiative to get things done without needing my constant oversight.<br>
                  I can attest that Gillian is diligent and thorough in all aspects of her work. Gillian is an invaluable asset to any team to which she belongs.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
{% endblock content %}
