{% extends "base.html" %}
{% block title %}
Portfolio
{% endblock title %}
{% block content %}
  <main id="main">
      <link rel="stylesheet" src="../static/vendor/swiper/swiper-bundle.min.css"></link>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>

        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-web">Web</li>
              <li data-filter=".filter-git">Git</li>
              <li data-filter=".filter-projects">Projects</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-6  portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/west-trade-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>West Trade Interiors</h4>
                <p>WordPress Website</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/west-trade-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="West Trade Interiors WordPress Website"><i class="bx bx-plus"></i></a>


                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/feast-and-west-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Feast + West</h4>
                <p>WordPress Website</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/feast-and-west-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Feast + West WordPress Website"><i class="bx bx-plus"></i></a>
 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/peach-and-pine-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Peach & Pine Interiors</h4>
                <p>WordPress Website</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/peach-and-pine-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Peach & Pine Interiors WordPress Website"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-git">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/github-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>GitHub Repository</h4>
                <p>Git Ongoing</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/github-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="GitHub Repository"><i class="bx bx-plus"></i></a>
   
                </div> 
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-projects">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/kickstart-coding-data-project-2-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kickstart Coding Data Project 2</h4>
                <p>Project In Process</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/kickstart-coding-data-project-2-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kickstart Coding Data Project 2"><i class="bx bx-plus"></i></a>
        
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-projects">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/kickstart-coding-data-project-3-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kickstart Coding Data Project 3</h4>
                <p>Project In Process</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/kickstart-coding-data-project-3-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Kickstart Coding Data Project 3"><i class="bx bx-plus"></i></a>
  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/shayla-boyd-gill-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Shayla Boyd-Gill</h4>
                <p>WordPress Website</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/shayla-boyd-gill-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Shayla Boyd-Gill WordPress Website"><i class="bx bx-plus"></i></a>
     
                </div> 
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/client-grid-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>WordPress Client Grid</h4>
                <p>WordPress Custom Work</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/client-grid-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="WordPress Client Grid Custom Work"><i class="bx bx-plus"></i></a>
   
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6  portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="../static/img/portfolio/rachel-anzalone-feature.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Rachel Anzalone</h4>
                <p>WordPress Website</p>
                <div class="portfolio-links">
                  <a href="../static/img/portfolio/rachel-anzalone-feature.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Rachel Anzalone WordPress Website"><i class="bx bx-plus"></i></a>
    
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section><!-- End Portfolio Section -->
  <script src="../static/js/main.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  </main><!-- End #main -->

{% endblock content %}