{% extends "base.html" %}
{% block title %}
Portfolio
{% endblock title %}
{% block content %}
  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="../static/assets/img/portfolio/github-feature.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>GitHub Repositories</h3>
              <ul>
                <li><strong>Category</strong>: Git</li>
                <li><strong>Project URL</strong>: <a href="https://github.com/gilliantrethewey">Gillian Trethewey on Git</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Git Repository</h2>
              <p>
                Git repos containing various projects and experiments.
              </p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

    
  </main><!-- End #main -->
